
	<% include top %>

    <script type="text/javascript" src="js/sprintf.min.js"></script>
    <script type="text/javascript" src="js/types.js"></script>
    <script type="text/javascript" src="js/slice.js"></script>

    <!-- timeline -->
    <% include timeline %>

    <div>
        <!-- add time slice start -->
        <form action="add" method="post" class="form-inline">
            <nobr>
                <input type="text" name="content" id="inpContent" placeholder="Type content here to add" class="form-control"
                        style="width:400px;"/>
                <div class="input-group date">
                    <input type="text" class="form-control" name="date" placeholder="date" style="width: 100px;"/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
                <input type="text" name="time" placeholder="time" class="form-control" style="width: 100px;"/>
                <select name="type" id="inpType" class="form-control">
                    <option>other</option>
                    <% types.forEach(function(type, index) {
                        if (type === 'other') return; %>
                    <option><%=type%></option>
                    <% }); %>
                </select>
                <input type="submit" value="Add" class="btn btn-primary"/>
            </nobr>
        </form>
        <!-- add time slice finish -->
    </div>

	<!-- main area start -->
    <div class="main-content">

        <% if (locals.keyword) { %>
        <p style="color:gray;"><strong>Search results for "<%=keyword%>"</strong></p>
        <% } %>
        <% if (slices.length==0) { %>
        <p style="color:gray;"><strong>No slices.</strong></p>
        <% } else { %>
        <p style="color:gray;"><%=slices.length%> slices</p>
        <% } %>

        <div class="slice_block">
            <% slices.forEach(function(slice, index) { %>
            <div class="slice_<%- slice.type %>"></div>
            <% }); %>
        </div>

        <div style="clear: both; height: 20px;"></div>

        <table class="table slice_items">
        <% slices.forEach(function(slice, index) { %>
        <tr title="<%- slice.type %>">
            <td rowspan="2" class="typeline slice_<%- slice.type %>" onclick="removeSlice('<%- slice.id %>');"></td>
            <td class="slice_time"><%= slice.timeText() %></td>
        </tr>
        <tr title="<%= slice.type %>">
            <td class="slice_content"><%= slice.content %></td>
        </tr>
        <tr height="10"><td colspan="2"></td></tr>
        <% }); %>
        </table>

	<!-- main area finish -->
    </div>

	<% include bottom %>

