
<table border="0" cellspacing="1" cellpadding="2" class="table" bgcolor="#eeeeee">
<tr>
	<td class="title">YEAR</td>
	<td align="left" bgcolor="#FFFFFF">
        <% for (var i=2007; i<=today.day.getFullYear(); i++) {
			var cls = day.yearSelected(i) ? 'btn-warning' : 'btn-default'; %>
		<a class="btn <%=cls%>" href="travel?period=month&year=<%=i%>&month=1">
			<%=i%>
		</a>
        <% } %>
	</td>
</tr>
<tr>
	<td class="title">MONTH</td>
	<td align="left" bgcolor="#FFFFFF">
        <% for (var i=1; i<=12; i++) {
			cls = day.monthSelected(i) ? 'btn-warning' : 'btn-default'; %>
			<a class="btn <%=cls%> btn-twodigits" href="travel?period=month&year=<%=day.day.getFullYear()%>&month=<%=i%>">
			    <%= i %>
			</a>
        <% } %>
	</td>
</tr>
<tr>
	<td class="title">DAY</td>
	<td align="left" bgcolor="#FFFFFF">
        <% for (var i=1; i<=day.maxDayOfMonth(); i++) {
			cls = day.daySelected(i) ? 'btn-warning' : 'btn-default'; %>
		<a class="btn <%=cls%> btn-twodigits" href="travel?period=day&year=<%=day.day.getFullYear()%>&month=<%=day.day.getMonth()+1%>&day=<%=i%>">
			<%= i %>
		</a>
        <% } %>
	</td>
</tr>
</table>
